<section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h1 class="section-heading" style="text-shadow: 4px 4px 4px #848484;">Antecedentes!</h1>
              <hr class="light">
                  <p class="text-faded">Ducha nebia</p>
                  <p class="text-faded">Sistema aqus </p>
                </hr>
              </div>
          </div>
      </div>
</section>


